.place__paragraph {
	color: #fff;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  font-weight: normal;
  padding: 0;
  margin: 0 auto 24px;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}